.action-bar {
  position: absolute;
  top: 0;
  right: -90px;
  z-index: 40;
  opacity: 0.7;
}
.wave {
  animation: wave 1s 1 linear;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-33%);
  }
  30% {
    transform: translateX(-66%);
  }
  45% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

.action-bar:hover {
  transition: top 0.3s ease-in, opacity 0.2s linear, right 0.3s ease-in;
  top: 0;
  right: 0;
  opacity: 1;
  animation: none;
}

.action-bar:hover.action-bar::before {
  opacity: 0;
  animation: none;
}

.action-bar::before {
  content: "<";
  font-weight: bold;
  position: absolute;
  top: 17%;
  left: -10%;
  transform: translateX(-50%);
  background: orange;
  color: white;
  padding: 5px;
  line-height: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.1s ease-in;
}
