/* .preview-wrapper { */
/*   position: relative; */
/*   height: 100%; */
/*   overflow: hidden; */
/*   background-color: white; */
/*   flex-grow: 1; */
/* } */
/* .preview-wrapper iframe { */
/*   background: white; */
/*   width: 100%; */
/*   height: 100%; */
/* } */

.preview-error {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 30;
  color: darkred;
}
.preview-error h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: darkred;
}
