* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #333333;
  --main-text-color: #ffffff;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

iframe {
  background: #dddddd;
}
