.editor-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 10px);
}

.editor-wrapper .button-format {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.editor-wrapper:hover .button-format {
  opacity: 1;
}

.show-info {
  position: relative;
}
.show-info::after {
  position: absolute;
  content: "Call function: render(argument), to display content";
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-style: italic;
  text-align: center;
  opacity: 0.7;
}
